﻿@model List<PMS.Entities.ProductDTO>

@{
	ViewBag.Title = "ShowAll";
	Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

@section scripts{
	<script>
		$(function () {
			$(".todelete").click(function () {
				debugger;
				if (confirm("Are you sure you want  ro  delete  this  record") != true)
					return false;
				var pid = $(this).attr("pid");

				window.location("/Product/Delete/" + pid);
			});
		});
		$(function () {
			$(".editbutton").click(function () {
				var pid = $(this).attr("pid");
				$("#ProductID").val(pid);
			});
		});
		$(function () {
			$(".addcomment").click(function () {
				debugger;
				var mainProdContainer = $(this).closest(".prodbox");
				var pid = mainProdContainer.attr("pid");

				var comment = $(this).closest(".commentarea").find(".txtComment").val();
				var _button_this = this;
				var obj = {
					ProductID: pid,
					CommentText: comment
				}


				MyAppGlobal.MakeAjaxCall("POST", 'Product2/SaveComment', obj, function (resp) {

					if (resp.success) {
						alert("added");
						debugger;

						var obj1 = {
							PictureName: resp.PictureName,
							UserName: resp.UserName,
							CommentText: obj.CommentText,
							CommentOn: moment(resp.CommentOn).format('DD/MM/YYYY HH:mm:ss')
						};


						var txt = $(_button_this).closest(".commentarea").find(".txtComment");
						txt.val("");

						var source = $("#commenttemplate").clone();
						//var template = Handlebars.compile(source);

						//var html = template(obj1);
						source.removeAttr('id');
						source.removeClass('hidden');
						source.find('.picture img').attr('src', '/UploadedFiles/' + resp.PictureName);
						source.find('.name').html("<a href='/User/showProfile'>" + resp.UserName + "</a>").css('color', 'blue');
						source.find('.comment-text').html(obj.CommentText);
						source.find('.comment-on').html(moment(resp.CommentOn).format('DD-MMM-YY HH:mm:ss A'));

						mainProdContainer.find(".comments").prepend(source);



					}

				}, function (resp) { alert("failure"); });

				return false;
			});
		});
	</script>

}


<h2>ShowAll</h2>

<a href="/Product/New">New </a> <br />

<span>@TempData["Msg"]</span>

<form action='@Url.Content("~/Product/Edit2")' method="post">

	@*<table>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.ProductID</td>
					<td>@item.Name</td>
					<td>@item.Price</td>
					<td>@item.CreatedOn</td>
					<td>@item.CreatedBy</td>
					<td><img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" /></td>

					@if (WebPrac.Security.SessionManager.User.IsAdmin)
					{

						<td><a href="/Product/Edit/@item.ProductID">Edit</a></td>
						<td><a href="/Product/Delete/@item.ProductID">Delete</a></td>

						<td><input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" /> </td>
					}
				</tr>
			}
		</table>*@


	<div>
		@foreach (var item in Model) {
			<input type="hidden" name="ProductID" id="ProductID" value="@item.ProductID" />
			<div class="prodbox" pid="@item.ProductID">
				<div style="float:left">
					<img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" />
				</div>

				<div style="float:left">
					Product Id: @item.ProductID <br />
					Name: @item.Name <br />
					Price: @item.Price <br />
					Created On @item.CreatedOn <b>By</b> <span style="color:blue"><a href='@Url.Content("~/User/showProfile/" + @item.CreatedBy)'>@item.nameCreatedBy</a></span>
				</div>
				<div style="clear:both">
					@if (WebPrac.Security.SessionManager.User.IsAdmin || WebPrac.Security.SessionManager.User.UserID == item.CreatedBy) {
						<a href='@Url.Content("~/Product/Edit/" + @item.ProductID)'>Edit</a>
						<a class="todelete" href='@Url.Content("~/Product/Delete/" + @item.ProductID)'>Delete</a>
						<input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" />
					}
				</div>
				<div class="commentarea">
					<textarea class="txtComment" id="txtComment" rows="1" cols="50" name="commentTex"></textarea>
					<input type="button" id="btnAddComment" class="addcomment" value="Add" />
				</div>
				<br />
				<div class="comments">
					<div class="comment hidden" id="commenttemplate">
						<div class="picture">
							<img src='' />
						</div>
						<div>
							<span class="name"><a href=''></a></span>
							<span class="comment-text"></span> <br />
							<span class="comment-on"></span>

						</div>
					</div>
					@foreach (var comment in item.Comments) {
						<div class="comment">
							<div class="picture">
								<img src='@Url.Content("~/UploadedFiles/" + comment.PictureName)' />
							</div>
							<div>
								<span class="name"><a href='@Url.Content("~/User/showProfile/" + comment.UserID)'>@comment.UserName</a></span>
								<span class="comment-text">@comment.CommentText</span> <br />
								<span class="comment-on">@comment.CommentOn</span>

							</div>
						</div>
						<br />
						<div style="clear:both"></div>
					}
				</div>
			</div>
		}
	</div>
</form>
