﻿@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<style>
		.menu a {
			padding: 5px;
			background-color: lightgrey;
			color: red;
		}

		.prodbox {
			padding: 5px;
			margin: 5px;
			width: 450px;
			background-color: lightgray;
		}

		.comments .comment .picture {
			float: left;
		}

			.comments .comment .picture img {
				width: 30px;
				height: 30px;
			}

		.comments .comment .name {
			color: red;
		}

		.comments .comment .comment-text {
			font-family: Helvetica, Arial, sans-serif;
			font-size: 12px;
		}
	</style>
	<script>
		window.BasePath = '@Url.Content("~")';
	</script>
	@Styles.Render( "~/Content/css" )
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Scripts/handlebars.js"></script>
	<script src="~/Scripts/moment.js"></script>
	<script src="~/Scripts/myapp.js"></script>
	<script src="~/Scripts/MyAppGlobal.js"></script>
	
	@RenderSection( "scripts" , false )
</head>
<body>


	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@if ( WebPrac.Security.SessionManager.User.IsAdmin )
				{
					@Html.ActionLink( "Home" , "admin" , "Home" , null , new
					  {
						  @class = "navbar-brand"
					  } )
				}
				else
				{
					@Html.ActionLink( "Home" , "normalUser" , "Home" , null , new
		   {
			   @class = "navbar-brand"
		   } )

				}

			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink( "Show All" , "showall" , "Product" )</li>
					<li>@Html.ActionLink("Edit Profile", "editUser", "User")</li>
					<li>@Html.ActionLink("change Password", "changePassword", "User")</li>
					<li>@Html.ActionLink("Logout", "logout", "User")</li>

				</ul>
			</div>
		</div>
	</div>

	<h1> Welcome <a href='@Url.Content("~/User/showProfile/" )'>@WebPrac.Security.SessionManager.User.Name</a></h1>
	<span style="color:red">@TempData["Message"]</span>
	<div>
		@RenderBody( )
	</div>
</body>
</html>
