﻿
@{
    ViewBag.Title = "changePassword";
	Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

<h2>changePassword</h2>


<form class="form col-lg-4 col-lg-offset-1" action="/User/changePassword" method="post">
	<fieldset>
		<legend>Login</legend>
		<div class="form-group">
			<label>old Password :</label>
			<input type="password" name="password"  class="form-control" />
		</div>
		<div class="form-group">
			<label>New Password</label>
			<input type="password" name="newpassword" class="form-control " />
		</div>
		<div class="form-group">

			<input type="submit" value="login" name="loginbtn" id="loginbtn" class=" btn btn-block btn-success" />
		</div>

		<span style="color:red;">@ViewBag.MSG</span><br />
	
	</fieldset>
</form>


