﻿@model PMS.Entities.UserDTO
@{
	ViewBag.Title = "EnterCode";
}
<div class="col-lg-offset-2">
	<span style='font-family:sans-serif;font-size:16px;line-height:21px;color:#141823'>
		<p>Hi @Model.Name,</p><p>We have sent an email to reset your password on </p>
	</span>

	<table border='0'>
		<tbody>
			<tr>
				<td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">

					<span style="font-family:Helvetica neue,helvetica,lucida grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
						@Model.email
					</span>
				</td>
			</tr>
		</tbody>
	</table>

</div>
<br /><br />
<form class="form col-lg-4 col-lg-offset-1" action="/User/verifyCode" method="post">


	<div class="form-group">
		<label>Enter Code here </label>
		<input type="text" name="code" required class="form-control" placeholder="0000" />
	</div>

	<div class="form-group">
		<input type="submit" value="Submit" name="submitbtn" id="submitbtn" class=" btn btn-block btn-success" />
	</div>

	<span style="color:red;">@ViewBag.MSG</span><br />

</form>

<div class="form col-lg-4 col-lg-offset-1">
	<span style="color:#333333;font-weight:bold">Didn't Receive meassage yet ?</span>

	<p><a href="/User/forgotPassword">send email again?</a></p>
</div>