﻿@{
	ViewBag.Title = "Forgot Password";

}

<h2>@ViewBag.Title ?</h2>

<form class="form col-lg-4 col-lg-offset-1" action="/User/EnterCode" method="post">

	
		<div class="form-group">
			<label>Enter User Name here </label>
			<input type="text" name="login" required class="form-control" placeholder="login" />
		</div>
		
		<div class="form-group">
			<input type="submit" value="Submit" name="submitbtn" id="submitbtn" class=" btn btn-block btn-success" />
		</div>

		<span style="color:red;">@ViewBag.MSG</span><br />
	
</form>