﻿@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_MyPublicLayout.cshtml";
}


<form class="form col-lg-4 col-lg-offset-1" action="/User/Login" method="post">
	<fieldset>
		<legend>Login</legend>
		<div class="form-group">
			<label>UserName :</label>
			<input type="text" name="login" value="@ViewBag.Login" class="form-control" />
		</div>
		<div class="form-group">
			<label>Password :</label>
			<input type="password" name="password" class="form-control " />
		</div>
		<div class="form-group">

			<input type="submit" value="login" name="loginbtn" id="loginbtn" class=" btn btn-block btn-success" />
		</div>

		<span style="color:red;">@ViewBag.MSG</span><br />
		@Html.ActionLink("Fogot Password ?", "forgotPassword", "User")
		Haven't You account @Html.ActionLink( "Sign Up" , "register" , "User" )
		
	</fieldset>
</form>
