﻿
@{
    ViewBag.Title = "newPassword";
}

<h2>newPassword</h2>

<form class="form col-lg-4 col-lg-offset-1" action="/User/resetPassword" method="post">
	<fieldset>
		<legend>Login</legend>
	
		<div class="form-group">
			<label>New Password</label>
			<input type="password" name="newpassword" class="form-control " />
		</div>
		<div class="form-group">

			<input type="submit" value="login" name="loginbtn" id="loginbtn" class=" btn btn-block btn-success" />
		</div>
	</fieldset>
</form>



