﻿@{
	ViewBag.Title = "signup";
}

@Html.ActionLink("Back", "login", "User")
<div class="container-fluid">
	<div class="row form-group col-lg-4 col-lg-offset-1">
		<form action='@Url.Content("~/User/Save")' method="post" enctype="multipart/form-data">

			<fieldset>
				<legend>Register an Account</legend>
				<div class="form-group">

					<label>login:*</label>
					<input type="text" id="login" name="Login" class="form-control">
				</div>
				<div class="form-group">
					<label>Name:*</label>
					<input type="text" id="Name" name="Name" class="form-control">
				</div>
				<div class="form-group">
					<label>Email:*</label>
					<input type="email" id="email" name="email" class="form-control">
				</div>
				<div class="form-group">
					<label>Password:*</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>

				<div class="form-group">
					<label>Photo</label>
					<input type="file" name="PictureName" id="picture" accept="image/x-png,image/gif,image/jpeg" />
				</div>

				<input type="submit" id="savebtn" value="Save" class="btn  btn-success col-lg-4">
				<input type="reset" value="Clear" class="btn  btn-warning col-lg-4">


			</fieldset>
		</form>
	</div>
</div>