﻿@model PMS.Entities.UserDTO
@{
	ViewBag.Title = "showProfile";
	Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

<h1 style="color:blue">@Model.Name</h1>

<div style="float:left">
	<img src="/UploadedFiles/@Model.PictureName" style="width:200px;height:200px;" />
</div>
<label>Login : <br /></label>
<span style="color:blue">@Model.Login</span>
<br />

<label>Email : <br /></label>
<span style="color:blue">@Model.email</span>
<br />